* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 160px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav__links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.nav__links a.highlight {
  background-color: #D53E0E;
  color: #fff;
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.nav__links a.highlight:hover {
  background-color: #b0370c;
}

.sign__btn {
  padding: 10px 18px;
  border: 1.5px solid #000;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

 /* CARDS  */
.accessibility__main {
  padding: 60px 5%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  justify-items: center;
}

.card {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  background-color: white;
  width: 100%;
  max-width: 220px;
}

.card:hover {
  transform: translateY(-5px);
}

.card__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.card__text {
  font-size: 15px;
  font-weight: 600;
}

/* FOOTER  */
.footer {
  background-color: #1c1c1c;
  padding: 40px 20px 20px;
  text-align: center;
  color: white;
}

.footer__logo {
  width: 300px;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 14px;
  color: #ccc;
}
.nav__links :hover{
  background-color: #CB2A14;
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
}

.footer {
  background-color: #1c1c1c;
  padding: 40px 20px 20px;
  text-align: center;
  color: white;
}

.footer__logo {
  width: 300px;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 14px;
  color: #ccc;
}
