*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.7rem;
    margin-bottom: 1.9rem;
}
.logo img{
    width: 21rem;
}
.titulo__login{
    font-size: 2rem;
    color: #CB2A14;
}
.login {
     border: solid rgba(128, 128, 128, 0.199) 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 580px;
    margin: auto;
    border-radius: 2rem;
    padding: 4rem;
    gap: 2rem;
}
.inputs__login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}
.inputs__login input{
    width: 27rem;
    font-weight: 100;
    border: 1px solid rgba(128, 128, 128, 0.192);
    padding: 1.4rem;
    border-radius: 15px;
}
.label__login{
    font-weight: 100;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.registro__login {
    font-size: 0.8rem;
}
.botao__login {
    border: none;
    background-color: #CB2A14;
    padding: 1rem 5rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    color: white;
    cursor:pointer;
}
.deficiencia {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.escolha__deficiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1.5rem;
}
.escolha__deficiencia input{
    width: 2rem;
}
